div{
    height:100px;
    width: 50rem;
}
.p1{
    background-color:red;
   margin-top: 2rem;
}
.p2{
    background-color:yellow;
    margin-top: 2rem;
}
.p3{
    background-color:blue;
    margin-top: 2rem;
}